#!/bin/bash

COMPOSE_FILE="docker/compose/docker-compose.yml"
GIT_BRANCH="$(git branch --show-current)"
IMAGE_DATE="$(date +%Y-%m-%d)"
MEDIA_VOLUME_PATH='/Volumes/corey/srv/nautobot/media'
NAUTOBOT_ALLOWED_HOSTS='kcp* dc* 192.168.1.*'
NAUTOBOT_DB_USER=nautobot
NAUTOBOT_DB_PASSWORD='xQWdPGgsg7weMon7MoLNiDp*PEx-46qq'
NAUTOBOT_DB_HOST=psql
NAUTOBOT_DB_PORT=5432
PG_VOLUME_PATH='/Volumes/corey/srv/nautobot/postgres'
PIPENV_VENV_IN_PROJECT=true
PYTHON_VER='3.11'
REDIS_PASSWORD=nautobot

export COMPOSE_FILE
export GIT_BRANCH
export IMAGE_DATE
export MEDIA_VOLUME_PATH
export NAUTOBOT_ALLOWED_HOSTS
export NAUTOBOT_DB_USER
export NAUTOBOT_DB_PASSWORD
export NAUTOBOT_DB_HOST
export NAUTOBOT_DB_PORT
export PG_VOLUME_PATH
export PIPENV_VENV_IN_PROJECT
export PYTHON_VER
export REDIS_PASSWORD
