!dev.env
!upgrade.sh
.coverage
.coverage.*
.dev/
.DS_Store
.envrc
.envrc
.gnupg/
.idea
.int/
.prod/
.python-version
.vagrant
.vscode
*.egg-info
*.env
*.gpg
*.pyc
*.swp
**/dist/
/*.sh
/examples/example_plugin/example_plugin/static/example_plugin/docs/
/nautobot/project-static/docs/
/site/
/venv/
celerybeat-schedule
db_output.*
development/factory_dump.json
docker-compose.override.yml
fabfile.py
geckodriver.log
gunicorn.py
htmlcov/*
invoke.yml
jobs/*
local_requirements.txt
nautobot_config.py
nautobot.log
nautobot.pid
nautobot.sql
node_modules
Pipfile*
uwsgi.ini
Vagrantfile*
