!dev.env
!upgrade.sh
.coverage
.coverage.*
.DS_Store
.envrc
.gnupg/
.idea
.python-version
.vscode
*.egg-info
*.env
*.gpg
*.pyc
*.swp
**/dist/
/*.sh
/examples/example_*/**/static/example_*/docs/
/nautobot/project-static/docs/
/site/
/venv/
celerybeat-schedule
db_output.*
development/factory_dump*.json
docker-compose.override.yml
fabfile.py
geckodriver.log
gunicorn.py
htmlcov/*
invoke.yml
jobs/*
local_requirements.txt
nautobot.log
nautobot.pid
nautobot.sql
node_modules
uwsgi.ini
